{%extends 'layouts/default.html'%}
{% from "macros/cards.html" import card_long, card_wide %}
{%block container%}

{%for i in range(4)%}<br />{%endfor%}

<style>
  .owl-carousel .owl-stage-outer {
    overflow: unset;
  }
  .home {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>

{% if context['latest_watched_episodes']|length >= 1 %}
<!-- latest watched episodes -->
<section class="home" style="margin-top: 30px;">
  <!-- section title -->
  <div class="col-12">
    <h2 class="section__title" style="margin: 0px; padding: 0px;">Son İzlediğim Bölümler</h2>
    <ul class="card__list" style="margin: 0px; margin-top: 5px; float: right; position: absolute; bottom: 0px; right: 125px;">
      <a style="cursor: pointer;" class="open-modal">
        <li onclick="profileproc_tvepisodecontent_clearLatestWatchedEpisodes();">
          <i class="icon ion-md-close" style="font-size: 15px; color: rgb(223, 223, 223); margin-right: 5px;"></i>
          <span>Son İzlenenleri Temizle</span>
        </li>
      </a>
    </ul>
    <button class="home__nav home__nav--prev" type="button">
      <i class="icon ion-ios-arrow-round-back"></i>
    </button>
    <button class="home__nav home__nav--next" type="button">
      <i class="icon ion-ios-arrow-round-forward"></i>
    </button>
  </div>
  <!-- end section title -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel home__carousel">
          {% for _l_w_episode in context['latest_watched_episodes'] %}
            <div class="item">
              <!-- card -->
              <div class="card card--big">
                <div class="card__cover">
                  <img src="{{ _l_w_episode.get_episode().imagePoster }}" alt="">

                  <a href="{{ url_for('tv_watch', title_url=_l_w_episode.get_content().titleUrl, season_number=_l_w_episode.get_season().seasonNumber, episode_number=_l_w_episode.get_episode().episodeNumber) }}" class="card__play">
                    <i class="icon ion-ios-play"></i>
                  </a>
                </div>
                <div class="card__content">
                  <h3 class="card__title"><a href="{{ url_for('tv_title', title_url=_l_w_episode.get_content().titleUrl) }}">{{ _l_w_episode.get_content().title }}</a></h3>
                  <span class="card__rate" style="font-size: 17px; font-weight: lighter;">{{ _l_w_episode.get_season().seasonNumber }}. Sezon {{ _l_w_episode.get_episode().episodeNumber }}. Bölüm</span>
                  <br>
                  <span class="card__rate" style="font-size: 14px; font-weight: lighter;">{{ format_datetime(_l_w_episode.watchDate, 'short', locale='tr') }}</span>
                </div>
              </div>
              <!-- end card -->
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end latest watched episodes -->
{% endif %}

<!-- expected premiere -->
<section class="section section--bg" data-bg="#" style="padding: 0px;">
  <div class="content" style="padding: 0px;">
    <div class="content__head-----disabled-css">
      <br>
      <div class="container-fluid">
        <div class="row" id="row-latestEpisodes">
          <!-- section title -->
          <div class="col-12">
            <h2 class="section__title">Son Eklenen Bölümler</h2>
          </div>
          <!-- end section title -->

            {% for episode in context['latest_added_episodes'][:30] %} <!-- limit: 30 -->
              <div class="col-6 col-sm-4 col-lg-3 col-xl-2 card-latestEpisode">
                {{ card_wide(episode=episode) }}
              </div>
            {% endfor %}

          <button id="button-latestEpisodes-loadMore" class="header__sign-in" style="color: #0d0d0d; width: 100%; margin: 0px; border-radius: 0px;">Daha Fazla Göster</button>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end expected premiere -->

<!-- expected premiere -->
<section class="section section--bg" data-bg="#" style="padding: 0px;">
  <div class="content" style="padding: 0px;">
    <div class="content__head-----disabled-css">
      <br>
      <div class="container-fluid">
        <div class="row">
          <!-- section title -->
          <div class="col-12">
            <h2 class="section__title">Son Eklenen Filmler</h2>
          </div>
          <!-- end section title -->

            {% for content in context['latest_added_movies'][:30] %}
              <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                {{ card_long(content=content) }}
              </div>
            {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end expected premiere -->

{%endblock%}
