<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" lang="tr-TR">
<head>
	{%include 'includes/head.html'%}
  {%block inside_head%}{%endblock%}
  {{JSGlue.include()}}
</head>
<body class="body">

  {%include 'includes/alert.html'%}

	{%if header != False%}{%include 'includes/header.html'%}{%endif%}
	{%block container%}{%endblock%}
	{%if footer != False%}{%include 'includes/footer.html'%}{%endif%}

	{%include 'includes/js.html'%}

  <script src="{{url_for('static', filename='js/webApp_functions/app.js')}}"></script>
  <script>
    var DEF_AJAX_CONFIG = {
      dataType: 'json',
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      processData: false,
      headers: {
        'X-CSRFToken': '{{csrf_token()}}',
      },
      error: function(error){
        console.log(` ==> error -> ${error.name}: ${error.message}`);
      },
    };
  </script>
  <script src="{{url_for('static', filename='js/ajax_functions/main.js')}}"></script>
  {%if check_profile()%}<script src="{{url_for('static', filename='js/ajax_functions/profile.js')}}"></script>{%endif%}
  {%if check_admin()%}<script src="{{url_for('static', filename='js/ajax_functions/admin.js')}}"></script>{%endif%}
  {%block script%}{%endblock%}

</body>
</html>
