{%if 2 == 1%}
<!-- main alert -->
<div class="alertMainDiv sign__form" style="display: none; position: fixed; left: 15px; bottom: 15px; z-index: 9999999999999999999999; padding: 20px 30px; cursor: pointer;">
  <span class="alertMainText sign__text" style="margin-top: 0px;">
    #
  </span>
</div>
<!-- end main alert -->
{%endif%}

<!-- alert beta begin -->
<div id="alertMainDiv" style="display: none; position: fixed; left: 15px; bottom: 15px; z-index: 999999999999999999; padding: 10px 25px; background-image: linear-gradient(90deg, #95FF7E 0%, #51CC85 100%); border-radius: 5px; cursor: pointer; -webkit-user-select: none; box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.29); -webkit-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.29); -moz-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.29);">
  <i id="alertMainIcon" class="icon ion-ios-warning" style="color: black; margin-right: 5px;"></i>
  <span id="alertMainText" style="color: black;">#</span>
</div>
<!-- alert beta end -->
