<!-- videojs - beta -->
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>

<!-- JS -->
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/js.cookie-2.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.mousewheel.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wNumb.js')}}"></script>
<script src="{{url_for('static', filename='js/nouislider.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plyr.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.morelines.min.js')}}"></script>
<script src="{{url_for('static', filename='js/photoswipe.min.js')}}"></script>
<script src="{{url_for('static', filename='js/photoswipe-ui-default.min.js')}}"></script>

<script src="{{url_for('static', filename='js/main.js')}}"></script>

<!-- from Admin Panel -->
<script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>

<!-- adminpanel/js/admin.js (for modals, etc.) begin -->
<script src="{{url_for('static', filename='adminpanel/js/admin.js')}}"></script>
<!-- adminpanel/js/admin.js (for modals, etc.) end -->
