{%extends 'layouts/adminpanel/default.html'%}
{%block container%}

<style>
  .container {
    border: 2px solid red;
  }
</style>

<br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-3">
      <label class="profile__label" for="input___username">Kullanıcı Adı</label>
      <input id="input___username" name="input___username" type="text" class="form__input" placeholder="Kullanıcı Adı">
    </div>
    <div class="col-3">
      <label class="profile__label" for="input___username">Kullanıcı Adı</label>
      <input id="input___username" name="input___username" type="text" class="form__input" placeholder="Kullanıcı Adı">
    </div>
    <div class="col-3">
      <label class="profile__label" for="input___username">Kullanıcı Adı</label>
      <input id="input___username" name="input___username" type="text" class="form__input" placeholder="Kullanıcı Adı">
    </div>
    <div class="col-3">
      <label class="profile__label" for="input___username">Kullanıcı Adı</label>
      <input id="input___username" name="input___username" type="text" class="form__input" placeholder="Kullanıcı Adı">
    </div>
  </div>
</div>






{%endblock%}