<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='adminpanel/css/bootstrap-reboot.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='adminpanel/css/bootstrap-grid.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='adminpanel/css/magnific-popup.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='adminpanel/css/jquery.mCustomScrollbar.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='adminpanel/css/select2.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='adminpanel/css/ionicons.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='adminpanel/css/admin.css')}}">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style-custom-wg.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='adminpanel/css/admin-custom-wg.css')}}">

<!-- Favicons -->
<link rel="icon" type="image/png" href="{{url_for('static', filename='adminpanel/icon/favicon-32x32.png')}}" sizes="32x32">
<link rel="apple-touch-icon" href="{{url_for('static', filename='adminpanel/icon/favicon-32x32.png')}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='adminpanel/icon/apple-touch-icon-72x72.png')}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='adminpanel/icon/apple-touch-icon-114x114.png')}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='adminpanel/icon/apple-touch-icon-144x144.png')}}">

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="WatchGraf">
<title>{%if title%}{{title}} | {%endif%}WatchGraf — Admin Paneli</title>
