	<!-- JS -->
	<script src="{{url_for('static', filename='adminpanel/js/jquery-3.4.1.min.js')}}"></script>

	<script src="{{url_for('static', filename='js/js.cookie-2.2.1.min.js')}}"></script>

  <!-- beta notify js -->
  <script src="{{url_for('static', filename='js/notify.min.js')}}"></script>

	<script src="{{url_for('static', filename='adminpanel/js/bootstrap.bundle.min.js')}}"></script>
	<script src="{{url_for('static', filename='adminpanel/js/jquery.magnific-popup.min.js')}}"></script>
	<script src="{{url_for('static', filename='adminpanel/js/jquery.mousewheel.min.js')}}"></script>
	<script src="{{url_for('static', filename='adminpanel/js/jquery.mCustomScrollbar.min.js')}}"></script>
	<script src="{{url_for('static', filename='adminpanel/js/select2.min.js')}}"></script>
	<script src="{{url_for('static', filename='adminpanel/js/admin.js')}}"></script>
