{%extends 'layouts/default.html'%}
{%block container%}

	<div class="sign section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
						<form action="{{url_for('forgotmypassword')}}" method="POST" class="sign__form">
							<a href="{{url_for('home')}}" class="sign__logo">
								<img src="{{url_for('static', filename='img/logo.png')}}" alt="">
							</a>

							<div class="sign__group">
                {{form.email_address(class='sign__input', placeholder='E-Posta Adresiniz')}}
							</div>
							
              {{form.send(class='sign__btn', style='border: 0px; cursor: pointer;')}}

							<span class="sign__text">E-Posta adresinize link gönderilecektir.</span>

            {{form.csrf_token}}
						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>

{%endblock%}