{%extends 'layouts/default.html'%}
{%block container%}
	<div class="sign section--bg" data-bg="https://media.giphy.com/media/z54DB16761hGo/giphy.gif">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
            <form action="{{url_for('signin')}}" method="POST" class="sign__form">
							<a href="{{url_for('home')}}" class="sign__logo">
								<img src="{{url_for('static', filename='img/logo.png')}}" alt="">
							</a>

							<div class="sign__group">
                {{form.username(class='sign__input', placeholder='Kullanıcı Adı')}}
							</div>

							<div class="sign__group">
                {{form.password(class='sign__input', placeholder='Şifre')}}
							</div>

							<div class="sign__group sign__group--checkbox">
								{%if 2 == 1%}
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">Beni Hatırla</label>
								{%endif%}
								<input type="checkbox" id="remember_me" name="remember_me" value="TRUE">
								<label for="remember_me">Oturumu Hatırla</label>
							</div>

              {{form.signin(class='sign__btn', style="border: 0px; cursor: pointer;")}}

							<span class="sign__text">Hesabın yok mu? <a href="{{url_for('signup')}}">Kayıt ol!</a></span>

							<span class="sign__text"><a href="{{url_for('forgotmypassword')}}">Şifreni mi unuttun?</a></span>
            {{form.csrf_token}}
						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
  </div>
{%endblock%}