{%extends 'layouts/default.html'%}
{%block container%}

	<div class="sign section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
						<form action="{{url_for('forgotmypassword')}}?key={{request.args.get('key')}}" method="POST" class="sign__form">
							<a href="{{url_for('home')}}" class="sign__logo">
								<img src="{{url_for('static', filename='img/logo.png')}}" alt="">
							</a>

							<div class="sign__group">
                {{form.new_password(class='sign__input', placeholder='Yeni Parola')}}
							</div>

							<div class="sign__group">
                {{form.new_password_confirm(class='sign__input', placeholder='Yeni Parolayı Doğrulayın')}}
							</div>
							
              {{form.change(class='sign__btn', style='border: 0px; cursor: pointer;')}}

							<span class="sign__text">Güvenlik parolanız da değişir!</span>

            {{form.csrf_token}}
						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>

{%endblock%}