<div class="row">
  <div class="col-12 col-md-5 form__cover">

    <!-- IMAGE UPLOAD BEGIN -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-12">
        <div class="form__img open-modal" href="#modal-list_player" style="height: 200px;">
          <label for="form__img-upload">Oynatıcı Seç</label>
          <img id="form__img" src="#" alt=" " style="height: 100%;">
        </div>
      </div>
    </div>
    {{macro_upload(id='uploadFile')}}
    <!-- IMAGE UPLOAD END -->
  </div>

  <div class="col-12 col-md-7 form__content">
    <div class="row">
      <div class="col-6">
        {{macro_input(id='title', title='Başlık')}}
      </div>

      <div class="col-6">
        {{macro_input(id='viewKey', title='URL Link')}}
      </div>

      <div class="col-10">
        {{macro_textarea(id='source', title='Kaynak')}}
      </div>

      <div class="col-2">
        {{macro_input(id='order', title='Sıralama')}}
      </div>

      <div class="col-2">
        <div class="profile__group">
          <label class="profile__label" for="select2___language">Oynatıcı Dili</label>
          <select class="js-example-basic-single" id="select2___language" name="select2___language">
            <option value="ORIGINAL">Orijinal Dil</option>
            <option value="SUBBED">Altyazılı</option>
            <option value="DUBBED">Dublajlı</option>
          </select>
        </div>
      </div>

      <div class="col-2">
        <div class="profile__group">
          <label class="profile__label" for="select2___visibility">Görünürlük</label>
          <select class="js-example-basic-single" id="select2___visibility" name="select2___visibility">
            <option value="1">Herkese Açık</option>
            <option value="0">Gizli</option>
          </select>
        </div>
      </div>

      <div class="col-2">
        <div class="profile__group">
          <label class="profile__label" for="select2___type">Oynatıcı Türü</label>
          <select class="js-example-basic-single" id="select2___type" name="select2___type">
            <option value="IFRAME">IFrame</option>
            <option value="VIDEOJS">VideoJS</option>
            <option value="PLYR">PLYR</option>
            <option value="TRAILER">Fragman</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <input type="submit" id="button___save" name="button___save" value="Kaydet" class="form__btn" style="border: 0px; cursor: pointer; float: right;">
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

{%for _type in ['player']%}
<div id="modal-list_{{_type}}" class="zoom-anim-dialog modal mfp-hide">
  <h6 class="modal__title">Poster Seç</h6>
  <p class="modal__text">Bunlardan birini {{_type}} olarak seçin.</p>
  <br />
  <div class="row">
    {%for _file in files['data']%}
    <!-- item -->
    <div class="col-4" style="border: 0px solid red; margin:0px;padding:0px; margin-bottom: 25px; padding-left: 5px; padding-right: 5px;">
      <div class="row">
        <div class="col-12">
          <div onclick="select_image(type='{{_type}}', file='{{_file}}');" style="width: 100%; height: 125px; background-image: url({{url_for('storage', filename='content/' + context['data'].idContent + '/' + _file)}}); background-size: cover; background-position: center; cursor: pointer;"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="{{url_for('adminpanel_v2_edit_delete_file', table_name='content', id_key=context['data'].idContent, file_name=_file)}}" class="form__btn" style="width: 100%; height: 25px;">Sil</a>
        </div>
      </div>
    </div>
    <!-- end item -->
    {%endfor%}
  </div>
  <div class="modal__btns">
    <button class="modal__btn modal__btn--dismiss" type="button">Seç</button>
  </div>
</div>
{%endfor%}
