{%extends 'layouts/adminpanel/default.html'%}
{%block container%}
<style>
  .ion-ios-arrow-back::before {
    line-height: 40px;
  }
  .ion-ios-arrow-forward::before {
    line-height: 40px;
  }
  .paginator {
    background-color: transparent;
  }
  .paginator__item--active a:hover {
    color: rgb(90, 90, 90);
  }
</style>

{%include 'adminpanel/contents/includes/sidebar.html'%}

<!-- main content -->
<main class="main">
  <div class="container-fluid">
    <div class="row">
      <!-- main title -->
      <div class="col-12">
        <div class="main__title">
          <h2>{{content_info.title}} {{season_info.seasonNumber}}. Sezon {{episode_info.episodeNumber}}. Bölümler Tüm Oynatıcılar</h2>

          <span class="main__title-stat">Mevcut sayfa {{list_results_info|length}} içerik sergileniyor.</span>

          <div class="main__title-wrap">

            <a href="#modal-contents-addMenu_TV_Season_Episode_Players" class="main__title-link open-modal" style="margin-right: 25px; min-width: 200px;">Yeni Ekle</a>

            <!-- filter sort -->
            <div class="filter" id="filter__sort">
              <span class="filter__item-label">Sırala:</span>

              <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <input type="button" value="Eklenme Tarihi">
                <span></span>
              </div>

              <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                <a href="{{request.path}}?page=1&sort=newest&list_count={{_ARG['list_count']}}"><li>Yeniden Eskiye</li></a>
                <a href="{{request.path}}?page=1&sort=oldest&list_count={{_ARG['list_count']}}"><li>Eskiden Yeniye</li></a>
                <a href="{{request.path}}?page=1&sort=order-asc&list_count={{_ARG['list_count']}}"><li>Öncelik (0-99)</li></a>
                <a href="{{request.path}}?page=1&sort=order-desc&list_count={{_ARG['list_count']}}"><li>Öncelik (99-0)</li></a>
              </ul>
            </div>
            <!-- end filter sort -->

          </div>
        </div>
      </div>
      <!-- end main title -->

      <!-- users -->
      <div class="col-12">
        <div class="main__table-wrap">
          <table class="main__table">
            <thead>
              <tr>
                <th>OYNATICI</th>
                <th>TÜR</th>
                <th>DİL</th>
                <th>SEZON NUMARASI</th>
                <th>BÖLÜM NUMARASI</th>
                <th>EKLEYEN PROFİL</th>
                <th>EKLENME / SON DÜZENLEME TARİHİ</th>
                <th>FONKSİYONLAR</th>
              </tr>
            </thead>

            <tbody>
              {%for player in players_info%}
              <tr id="main__table--tr-{{player.idPlayer}}">
                <td>
                  <div class="main__user">
                    <div class="main__avatar" style="min-width: 100px; height: 60px; border-radius: 5px; -webkit-border-radius: 5px;">
                      <div style="width: 100%; height: 100%; background-image: url({{url_for('static', filename='img/logo.png')}}); background-size: contain; background-position: center; background-repeat: no-repeat;"></div>
                    </div>
                    <div class="main__meta">
                      <h3>{{player.title}}</h3>
                      <span>{{player.viewKey}}</span>
                      {%if player.visibility == 0%}<span style="font-size: 12px; font-weight: bold; color: rgb(189, 189, 189);">Gizli</span>{%endif%}
                    </div>
                  </div>
                </td>
                <td>
                  <div class="main__table-text">{{player.type}}</div>
                </td>
                <td>
                  <div class="main__table-text">{{player.language}}</div>
                </td>
                <td>
                  <div class="main__table-text">{{player.seasonNumber}}</div>
                </td>
                <td>
                  <div class="main__table-text">{{player.episodeNumber}}</div>
                </td>
                <td>
                  <div class="main__table-text">{{get_profile_db(profile_id=player.idAddProfile).username}}</div>
                </td>
                <td>
                  <div class="main__table-text">{{format_date(player.addDate, 'full', locale='tr')}}</div>
                  <div class="main__table-text main__table-text--green">{{format_date(player.lastEditDate, 'full', locale='tr')}}</div>
                </td>

                <td>
                  <div class="main__table-btns">
                    <a href="{{url_for('tv_watch', title_url=content_info.titleUrl, season_number=season_info.seasonNumber, episode_number=episode_info.episodeNumber)}}?viewkey={{player.viewKey}}" target="_blank" class="main__table-btn main__table-btn--banned">
											<i class="icon ion-ios-play"></i>
										</a>
                    <a href="{{url_for('adminpanel_content_season_episode_player_edit', title_url=content_info.titleUrl, season_number=season_info.seasonNumber, episode_number=episode_info.episodeNumber, view_key=player.viewKey)}}" class="main__table-btn main__table-btn--edit">
                      <i class="icon ion-ios-create"></i>
                    </a>
                    <a href="#modal-drop-{{player.idPlayer}}" class="main__table-btn main__table-btn--delete open-modal">
                      <i class="icon ion-ios-trash"></i>
                    </a>
                  </div>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
      <!-- end users -->

      <!-- paginator -->
      <div class="col-12">
        <ul class="paginator paginator--list" style="background-color: transparent; box-shadow: unset; float: right; margin-right: 150px; margin-top: 25px;">
          {%if not _ARG['page'] == 1%}<li class="paginator__item"><a href="{{request.path}}?page=1&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">1</a></li>{%endif%}
          {%if _ARG['page'] - 1 >= 1%}
          <li class="paginator__item paginator__item--prev">
            <a href="{{request.path}}?page={{_ARG['page'] - 1}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}"><i class="icon ion-ios-arrow-back"></i></a>
          </li>
          {%endif%}
          {%if _ARG['page'] - 4 >= 1%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page'] - 4}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page'] - 4}}</a></li>{%endif%}
          {%if _ARG['page'] - 3 >= 1%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page'] - 3}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page'] - 3}}</a></li>{%endif%}
          {%if _ARG['page'] - 2 >= 1%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page'] - 2}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page'] - 2}}</a></li>{%endif%}
          {%if _ARG['page'] - 1 >= 1%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page'] - 1}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page'] - 1}}</a></li>{%endif%}
          <li class="paginator__item paginator__item--active"><a href="#">{{_ARG['page']}}</a></li>
          {%if _ARG['page'] + 1 <= _ARG['page_max']%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page'] + 1}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page'] + 1}}</a></li>{%endif%}
          {%if _ARG['page'] + 2 <= _ARG['page_max']%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page'] + 2}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page'] + 2}}</a></li>{%endif%}
          {%if _ARG['page'] + 3 <= _ARG['page_max']%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page'] + 3}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page'] + 3}}</a></li>{%endif%}
          {%if _ARG['page'] + 4 <= _ARG['page_max']%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page'] + 4}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page'] + 4}}</a></li>{%endif%}
          {%if _ARG['page'] + 1 <= _ARG['page_max']%}
          <li class="paginator__item paginator__item--next">
            <a href="{{request.path}}?page={{_ARG['page'] + 1}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}"><i class="icon ion-ios-arrow-forward"></i></a>
          </li>
          {%endif%}
          {%if not _ARG['page'] == _ARG['page_max']%}<li class="paginator__item"><a href="{{request.path}}?page={{_ARG['page_max']}}&sort={{_ARG['sort']}}&list_count={{_ARG['list_count']}}">{{_ARG['page_max']}}</a></li>{%endif%}
        </ul>
      </div>
      <!-- end paginator -->

    </div>
  </div>
</main>
<!-- end main content -->

<!-- modal addMenu->TV->Season->Episode->Players begin -->
<div id="modal-contents-addMenu_TV_Season_Episode_Players" class="zoom-anim-dialog modal mfp-hide">
		<h6 class="modal__title">Yeni Ekle > Dizi > Sezon > Bölüm > Oynatıcılar</h6>
		<p class="modal__text"><a onclick="adminproc_content_season_episode_players_tmdbImport(tmdb_id='{{content_info.idTmdb}}', season_number='{{season_info.seasonNumber}}', episode_number='{{episode_info.episodeNumber}}');" class="modal__btn modal__btn--apply" style="width: calc(100%); cursor: pointer;">TMDB</a></p>
		<p class="modal__text"><a onclick="adminproc_content_season_episode_players_createNatural(content_id='{{content_info.idContent|safe}}', tv_season_id='{{season_info.idTvSeason|safe}}', tv_episode_id='{{episode_info.idTvEpisode|safe}}');" class="modal__btn modal__btn--apply" style="width: calc(100%); cursor: pointer;">Natural</a></p>
		<div class="modal__btns">
			<button class="modal__btn modal__btn--dismiss" style="width: calc(100%);" type="button">Kapat</button>
		</div>
</div>
<!-- modal addMenu->TV->Season->Episode->Players end -->

  {%for player in players_info%}
    <!-- modal delete -->
    <div id="modal-drop-{{player.idPlayer}}" class="zoom-anim-dialog mfp-hide modal">
      <h6 class="modal__title">Oynatıcıyı Sil</h6>
      <p class="modal__text">{{player.title}} isimli oynatıcıyı silmek istediğinize emin misiniz? Bu işlem geri alınamaz!</p>
      <div class="modal__btns">
        <button onclick="adminproc_content_season_episode_players_drop(player_id='{{player.idPlayer}}');" class="modal__btn modal__btn--apply" type="button">Sil</button>
        <button class="modal__btn modal__btn--dismiss" type="button">İptal Et</button>
      </div>
    </div>
    <!-- end modal delete -->
  {%endfor%}
{%endblock%}